name: Continuous Integration

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 3 * * *'     # Daily at 03:00 UTC
  workflow_dispatch:        # Manual trigger support

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2

      - name: Run tests
        run: cargo test --workspace --locked


  test-on-s390x:
    if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
    name: build-and-test (linux big-endian)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Cache Rust (s390x)
        uses: Swatinem/rust-cache@v2
        with:
          cache-targets: s390x-unknown-linux-gnu

      - name: Install cross
        uses: taiki-e/install-action@v2
        with:
          tool: cross

      - name: Run tests on s390x (Big Endian)
        run: |
          unset RUSTC_WRAPPER
          cross test --workspace --target s390x-unknown-linux-gnu --verbose -- --test-threads=8

  build-and-test-with-coverage:
    if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt, llvm-tools-preview

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov

      - name: Run tests with coverage
        run: cargo llvm-cov --locked --workspace --lcov --output-path lcov.info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
